.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.026367;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.701172;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.960449;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.898926;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(237,237,237),0 0.015em rgb(237,237,237),0.015em 0 rgb(237,237,237),0 -0.015em  rgb(237,237,237);}
.sc1{text-shadow:-0.015em 0 rgb(152,0,0),0 0.015em rgb(152,0,0),0.015em 0 rgb(152,0,0),0 -0.015em  rgb(152,0,0);}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(237,237,237);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(152,0,0);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-1063.373856px;}
._3{margin-left:-8.620000px;}
._2{margin-left:-4.342000px;}
._1{margin-left:-3.340000px;}
._0{margin-left:-1.060000px;}
._9{width:1.523954px;}
._b{width:2.735954px;}
._6{width:27.503997px;}
._a{width:32.335997px;}
._d{width:41.999997px;}
._e{width:46.299997px;}
._4{width:48.699997px;}
._f{width:51.499997px;}
._10{width:54.299997px;}
._c{width:57.099997px;}
._11{width:64.299997px;}
._8{width:68.335997px;}
._7{width:76.699997px;}
.fc6{color:rgb(192,0,0);}
.fc4{color:rgb(255,255,255);}
.fc0{color:rgb(152,0,0);}
.fc5{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,0);}
.fc7{color:rgb(34,34,34);}
.fc2{color:rgb(0,0,255);}
.fc3{color:rgb(225,21,37);}
.fsc{font-size:44.000000px;}
.fs3{font-size:46.000000px;}
.fsd{font-size:48.000000px;}
.fs18{font-size:50.000000px;}
.fse{font-size:56.000000px;}
.fs1b{font-size:58.000000px;}
.fsf{font-size:64.000000px;}
.fs12{font-size:66.000000px;}
.fs7{font-size:70.000000px;}
.fs6{font-size:72.000000px;}
.fs11{font-size:74.000000px;}
.fs14{font-size:80.000000px;}
.fs19{font-size:82.000000px;}
.fsa{font-size:88.000000px;}
.fs9{font-size:90.000000px;}
.fs10{font-size:96.000000px;}
.fs0{font-size:106.000000px;}
.fs4{font-size:110.000000px;}
.fs13{font-size:112.000000px;}
.fs5{font-size:124.000000px;}
.fs17{font-size:128.000000px;}
.fs8{font-size:144.000000px;}
.fs15{font-size:152.000000px;}
.fs2{font-size:176.000000px;}
.fs16{font-size:192.000000px;}
.fsb{font-size:208.000000px;}
.fs1a{font-size:258.000000px;}
.fs1c{font-size:276.000000px;}
.fs1{font-size:334.000000px;}
.y0{bottom:0.000000px;}
.y67{bottom:33.384455px;}
.y17{bottom:39.245621px;}
.y74{bottom:43.899971px;}
.y66{bottom:47.184456px;}
.y16{bottom:53.045624px;}
.y56{bottom:53.339828px;}
.y64{bottom:54.327087px;}
.y3f{bottom:58.913609px;}
.y5{bottom:60.175074px;}
.y3c{bottom:63.459984px;}
.y3d{bottom:63.462883px;}
.y73{bottom:63.699974px;}
.y40{bottom:65.788609px;}
.y15{bottom:66.845623px;}
.y1e{bottom:69.125107px;}
.y12{bottom:69.939667px;}
.y25{bottom:73.150749px;}
.y4{bottom:73.975075px;}
.y63{bottom:74.727097px;}
.y36{bottom:75.939651px;}
.y22{bottom:77.361473px;}
.y5a{bottom:79.539658px;}
.y14{bottom:80.645624px;}
.y72{bottom:83.499977px;}
.y51{bottom:84.240051px;}
.y13{bottom:94.445625px;}
.y62{bottom:96.539795px;}
.y45{bottom:102.039886px;}
.y35{bottom:102.339645px;}
.y71{bottom:103.299980px;}
.y50{bottom:104.640045px;}
.y11{bottom:108.339661px;}
.y59{bottom:111.439743px;}
.y1{bottom:112.174383px;}
.y55{bottom:114.339661px;}
.y1d{bottom:114.689224px;}
.y61{bottom:118.139801px;}
.y70{bottom:120.099983px;}
.yb{bottom:122.833557px;}
.y4f{bottom:125.040039px;}
.y44{bottom:127.239883px;}
.y24{bottom:128.662346px;}
.y21{bottom:128.662437px;}
.y34{bottom:133.239883px;}
.y3b{bottom:139.671944px;}
.y3e{bottom:139.674843px;}
.y3a{bottom:139.674873px;}
.y6f{bottom:139.899986px;}
.y58{bottom:140.939819px;}
.ya{bottom:143.833561px;}
.y4e{bottom:145.440048px;}
.y60{bottom:145.739807px;}
.y54{bottom:145.739822px;}
.y10{bottom:146.739655px;}
.y46{bottom:148.874386px;}
.y43{bottom:152.439880px;}
.y3{bottom:156.545433px;}
.y33{bottom:158.439888px;}
.y6e{bottom:159.699989px;}
.y1c{bottom:160.289207px;}
.y9{bottom:164.947372px;}
.y4d{bottom:166.839890px;}
.y5f{bottom:167.339813px;}
.y57{bottom:168.539818px;}
.y53{bottom:173.339821px;}
.y42{bottom:177.639893px;}
.y2f{bottom:178.139816px;}
.y6d{bottom:179.499985px;}
.y75{bottom:182.598328px;}
.y32{bottom:183.639893px;}
.y23{bottom:184.173775px;}
.y18{bottom:184.375748px;}
.yf{bottom:185.139656px;}
.y8{bottom:186.547373px;}
.y65{bottom:186.840870px;}
.y5e{bottom:188.939812px;}
.y4c{bottom:192.039894px;}
.y39{bottom:197.139656px;}
.y6c{bottom:199.299980px;}
.y52{bottom:200.939819px;}
.y41{bottom:202.839897px;}
.y2e{bottom:205.739815px;}
.y1b{bottom:205.889206px;}
.y31{bottom:208.839897px;}
.y5d{bottom:216.539810px;}
.y4b{bottom:217.239899px;}
.y2{bottom:218.494324px;}
.y6{bottom:219.809397px;}
.y6b{bottom:220.099815px;}
.y47{bottom:222.938560px;}
.ye{bottom:223.539658px;}
.y38{bottom:229.539658px;}
.y29{bottom:231.694405px;}
.y2d{bottom:233.339813px;}
.y30{bottom:235.539658px;}
.y5c{bottom:238.139812px;}
.y20{bottom:239.685188px;}
.y4a{bottom:242.439896px;}
.y6a{bottom:244.699818px;}
.y1a{bottom:251.489206px;}
.y28{bottom:253.294403px;}
.y7{bottom:259.175972px;}
.yd{bottom:261.939653px;}
.y5b{bottom:265.739813px;}
.y49{bottom:267.639894px;}
.y69{bottom:269.299818px;}
.y27{bottom:274.894402px;}
.y2a{bottom:294.079468px;}
.y26{bottom:296.494402px;}
.y1f{bottom:299.500038px;}
.y68{bottom:310.640759px;}
.y2c{bottom:314.240128px;}
.y37{bottom:315.239967px;}
.y48{bottom:316.239803px;}
.yc{bottom:316.579338px;}
.y19{bottom:317.239639px;}
.y2b{bottom:348.846134px;}
.hf{height:32.033203px;}
.h10{height:32.076172px;}
.h1d{height:33.398438px;}
.h4{height:34.971680px;}
.h11{height:34.992188px;}
.h1b{height:38.250000px;}
.h12{height:40.769531px;}
.h1f{height:44.625000px;}
.h13{height:46.593750px;}
.h16{height:51.000000px;}
.h8{height:51.030273px;}
.h7{height:52.488281px;}
.h15{height:57.375000px;}
.h1c{height:63.750000px;}
.hd{height:66.902344px;}
.ha{height:70.125000px;}
.h14{height:72.984375px;}
.h1{height:77.486000px;}
.h5{height:80.410000px;}
.h17{height:85.148438px;}
.h6{height:90.644000px;}
.h1a{height:97.312500px;}
.h9{height:100.800000px;}
.hc{height:109.476562px;}
.h18{height:110.808594px;}
.he{height:121.429688px;}
.h3{height:128.656000px;}
.h19{height:133.593750px;}
.hb{height:143.507812px;}
.h1e{height:178.004883px;}
.h20{height:190.423828px;}
.h2{height:244.154000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x23{left:18.599457px;}
.xc{left:33.314026px;}
.xd{left:39.733040px;}
.x6{left:43.891724px;}
.x1{left:56.515854px;}
.x26{left:58.349442px;}
.x15{left:61.912041px;}
.x18{left:70.891663px;}
.x2{left:73.334351px;}
.x22{left:79.891724px;}
.x20{left:83.209000px;}
.x25{left:86.553131px;}
.x1a{left:88.139790px;}
.x1b{left:91.514790px;}
.x4{left:111.885803px;}
.x21{left:113.607788px;}
.x27{left:151.599365px;}
.x24{left:162.178131px;}
.x3{left:187.510803px;}
.x1c{left:239.463581px;}
.x19{left:247.776081px;}
.x5{left:261.067963px;}
.xf{left:306.687531px;}
.x12{left:310.687531px;}
.x13{left:314.437531px;}
.x16{left:320.437531px;}
.x17{left:325.375031px;}
.x14{left:333.375031px;}
.x1e{left:403.055323px;}
.x1f{left:424.655323px;}
.x8{left:427.661850px;}
.xb{left:432.161850px;}
.x7{left:462.724350px;}
.xa{left:488.349350px;}
.x1d{left:503.574848px;}
.x10{left:517.606964px;}
.x11{left:536.544464px;}
.x9{left:552.411850px;}
.xe{left:682.448830px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-1417.831809pt;}
._3{margin-left:-11.493333pt;}
._2{margin-left:-5.789333pt;}
._1{margin-left:-4.453333pt;}
._0{margin-left:-1.413333pt;}
._9{width:2.031939pt;}
._b{width:3.647939pt;}
._6{width:36.671996pt;}
._a{width:43.114663pt;}
._d{width:55.999996pt;}
._e{width:61.733329pt;}
._4{width:64.933329pt;}
._f{width:68.666663pt;}
._10{width:72.399996pt;}
._c{width:76.133329pt;}
._11{width:85.733329pt;}
._8{width:91.114663pt;}
._7{width:102.266663pt;}
.fsc{font-size:58.666667pt;}
.fs3{font-size:61.333333pt;}
.fsd{font-size:64.000000pt;}
.fs18{font-size:66.666667pt;}
.fse{font-size:74.666667pt;}
.fs1b{font-size:77.333333pt;}
.fsf{font-size:85.333333pt;}
.fs12{font-size:88.000000pt;}
.fs7{font-size:93.333333pt;}
.fs6{font-size:96.000000pt;}
.fs11{font-size:98.666667pt;}
.fs14{font-size:106.666667pt;}
.fs19{font-size:109.333333pt;}
.fsa{font-size:117.333333pt;}
.fs9{font-size:120.000000pt;}
.fs10{font-size:128.000000pt;}
.fs0{font-size:141.333333pt;}
.fs4{font-size:146.666667pt;}
.fs13{font-size:149.333333pt;}
.fs5{font-size:165.333333pt;}
.fs17{font-size:170.666667pt;}
.fs8{font-size:192.000000pt;}
.fs15{font-size:202.666667pt;}
.fs2{font-size:234.666667pt;}
.fs16{font-size:256.000000pt;}
.fsb{font-size:277.333333pt;}
.fs1a{font-size:344.000000pt;}
.fs1c{font-size:368.000000pt;}
.fs1{font-size:445.333333pt;}
.y0{bottom:0.000000pt;}
.y67{bottom:44.512606pt;}
.y17{bottom:52.327494pt;}
.y74{bottom:58.533295pt;}
.y66{bottom:62.912608pt;}
.y16{bottom:70.727498pt;}
.y56{bottom:71.119771pt;}
.y64{bottom:72.436117pt;}
.y3f{bottom:78.551478pt;}
.y5{bottom:80.233431pt;}
.y3c{bottom:84.613312pt;}
.y3d{bottom:84.617177pt;}
.y73{bottom:84.933299pt;}
.y40{bottom:87.718145pt;}
.y15{bottom:89.127497pt;}
.y1e{bottom:92.166809pt;}
.y12{bottom:93.252889pt;}
.y25{bottom:97.534332pt;}
.y4{bottom:98.633433pt;}
.y63{bottom:99.636129pt;}
.y36{bottom:101.252869pt;}
.y22{bottom:103.148631pt;}
.y5a{bottom:106.052877pt;}
.y14{bottom:107.527499pt;}
.y72{bottom:111.333303pt;}
.y51{bottom:112.320068pt;}
.y13{bottom:125.927500pt;}
.y62{bottom:128.719727pt;}
.y45{bottom:136.053182pt;}
.y35{bottom:136.452861pt;}
.y71{bottom:137.733307pt;}
.y50{bottom:139.520060pt;}
.y11{bottom:144.452881pt;}
.y59{bottom:148.586324pt;}
.y1{bottom:149.565844pt;}
.y55{bottom:152.452881pt;}
.y1d{bottom:152.918966pt;}
.y61{bottom:157.519735pt;}
.y70{bottom:160.133311pt;}
.yb{bottom:163.778076pt;}
.y4f{bottom:166.720052pt;}
.y44{bottom:169.653178pt;}
.y24{bottom:171.549795pt;}
.y21{bottom:171.549917pt;}
.y34{bottom:177.653178pt;}
.y3b{bottom:186.229258pt;}
.y3e{bottom:186.233124pt;}
.y3a{bottom:186.233164pt;}
.y6f{bottom:186.533315pt;}
.y58{bottom:187.919759pt;}
.ya{bottom:191.778081pt;}
.y4e{bottom:193.920064pt;}
.y60{bottom:194.319743pt;}
.y54{bottom:194.319763pt;}
.y10{bottom:195.652873pt;}
.y46{bottom:198.499181pt;}
.y43{bottom:203.253174pt;}
.y3{bottom:208.727244pt;}
.y33{bottom:211.253184pt;}
.y6e{bottom:212.933319pt;}
.y1c{bottom:213.718943pt;}
.y9{bottom:219.929830pt;}
.y4d{bottom:222.453186pt;}
.y5f{bottom:223.119751pt;}
.y57{bottom:224.719757pt;}
.y53{bottom:231.119761pt;}
.y42{bottom:236.853190pt;}
.y2f{bottom:237.519755pt;}
.y6d{bottom:239.333313pt;}
.y75{bottom:243.464437pt;}
.y32{bottom:244.853190pt;}
.y23{bottom:245.565033pt;}
.y18{bottom:245.834330pt;}
.yf{bottom:246.852875pt;}
.y8{bottom:248.729830pt;}
.y65{bottom:249.121160pt;}
.y5e{bottom:251.919749pt;}
.y4c{bottom:256.053192pt;}
.y39{bottom:262.852875pt;}
.y6c{bottom:265.733307pt;}
.y52{bottom:267.919759pt;}
.y41{bottom:270.453196pt;}
.y2e{bottom:274.319753pt;}
.y1b{bottom:274.518941pt;}
.y31{bottom:278.453196pt;}
.y5d{bottom:288.719747pt;}
.y4b{bottom:289.653198pt;}
.y2{bottom:291.325765pt;}
.y6{bottom:293.079196pt;}
.y6b{bottom:293.466420pt;}
.y47{bottom:297.251414pt;}
.ye{bottom:298.052877pt;}
.y38{bottom:306.052877pt;}
.y29{bottom:308.925873pt;}
.y2d{bottom:311.119751pt;}
.y30{bottom:314.052877pt;}
.y5c{bottom:317.519750pt;}
.y20{bottom:319.580251pt;}
.y4a{bottom:323.253194pt;}
.y6a{bottom:326.266424pt;}
.y1a{bottom:335.318942pt;}
.y28{bottom:337.725871pt;}
.y7{bottom:345.567963pt;}
.yd{bottom:349.252871pt;}
.y5b{bottom:354.319750pt;}
.y49{bottom:356.853193pt;}
.y69{bottom:359.066424pt;}
.y27{bottom:366.525869pt;}
.y2a{bottom:392.105957pt;}
.y26{bottom:395.325869pt;}
.y1f{bottom:399.333384pt;}
.y68{bottom:414.187678pt;}
.y2c{bottom:418.986837pt;}
.y37{bottom:420.319956pt;}
.y48{bottom:421.653071pt;}
.yc{bottom:422.105784pt;}
.y19{bottom:422.986186pt;}
.y2b{bottom:465.128179pt;}
.hf{height:42.710938pt;}
.h10{height:42.768229pt;}
.h1d{height:44.531250pt;}
.h4{height:46.628906pt;}
.h11{height:46.656250pt;}
.h1b{height:51.000000pt;}
.h12{height:54.359375pt;}
.h1f{height:59.500000pt;}
.h13{height:62.125000pt;}
.h16{height:68.000000pt;}
.h8{height:68.040365pt;}
.h7{height:69.984375pt;}
.h15{height:76.500000pt;}
.h1c{height:85.000000pt;}
.hd{height:89.203125pt;}
.ha{height:93.500000pt;}
.h14{height:97.312500pt;}
.h1{height:103.314667pt;}
.h5{height:107.213333pt;}
.h17{height:113.531250pt;}
.h6{height:120.858667pt;}
.h1a{height:129.750000pt;}
.h9{height:134.400000pt;}
.hc{height:145.968750pt;}
.h18{height:147.744792pt;}
.he{height:161.906250pt;}
.h3{height:171.541333pt;}
.h19{height:178.125000pt;}
.hb{height:191.343750pt;}
.h1e{height:237.339844pt;}
.h20{height:253.898438pt;}
.h2{height:325.538667pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x23{left:24.799276pt;}
.xc{left:44.418701pt;}
.xd{left:52.977386pt;}
.x6{left:58.522298pt;}
.x1{left:75.354472pt;}
.x26{left:77.799255pt;}
.x15{left:82.549388pt;}
.x18{left:94.522217pt;}
.x2{left:97.779134pt;}
.x22{left:106.522298pt;}
.x20{left:110.945333pt;}
.x25{left:115.404175pt;}
.x1a{left:117.519719pt;}
.x1b{left:122.019719pt;}
.x4{left:149.181071pt;}
.x21{left:151.477051pt;}
.x27{left:202.132487pt;}
.x24{left:216.237508pt;}
.x3{left:250.014404pt;}
.x1c{left:319.284775pt;}
.x19{left:330.368108pt;}
.x5{left:348.090617pt;}
.xf{left:408.916707pt;}
.x12{left:414.250041pt;}
.x13{left:419.250041pt;}
.x16{left:427.250041pt;}
.x17{left:433.833374pt;}
.x14{left:444.500041pt;}
.x1e{left:537.407097pt;}
.x1f{left:566.207097pt;}
.x8{left:570.215800pt;}
.xb{left:576.215800pt;}
.x7{left:616.965800pt;}
.xa{left:651.132467pt;}
.x1d{left:671.433131pt;}
.x10{left:690.142619pt;}
.x11{left:715.392619pt;}
.x9{left:736.549133pt;}
.xe{left:909.931773pt;}
}
